@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --white-text: #ffffff;
    --color-blue: #2E4172;
    --color-green: #2D882D;
    --color-orange: #AA6C39;
    --color-dark-green: #226666;
    --light-blue: #80CED7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

html {
  font-size: 62.5%;
  height: 130vh;
  background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: #000;
}

/************************** /
/        Utilities          /
/* *********************** */

.container {
  width: 90%;
  margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
    border: 2px solid grey;
  }

.btn-primary {
  position: absolute;
  background-color: var(--white-text);
  border: 2px solid grey;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  bottom: 50px;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

/* ************* navbar ************* */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  position: fixed;
  display: none;
}

.navbar-container {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: center;
}

.navbar-container.container {
    height: 4rem;
}

.menu-items {
  order: 2;
  display: flex;

}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

  .navbar {
    opacity: 0.99;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: fixed;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 10rem
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

.navbar-container .hamburger-lines {
    display: fixed;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: fixed;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
}

.navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 100px;
    background: var(--light-blue);
    box-shadow: -3px 0px 15px 0px var(--color-blue);
    height: 83.6vh;
    max-width: 250px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-right: -150px;
    /* padding-left: 50px; */
    transition: transform 0.5s ease-in-out;
}

.navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
}

nav.navbar {
  position: absolute;
  top: 48px;
  z-index: 1;
  height: 6rem;
  width: 100%;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(-66px);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
    background-color: var(--white-text);    
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    background-color: var(--white-text);    
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
    background-color: var(--white-text);    
}

.navbar .menu-items li{
      font-size: 1.6rem;
}

.navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ************* dashboard display styling ************* */

.title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 3rem;
    display: block;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    width: max-content;
}

#dashboard {
  width: 100%;
  margin-right: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.row2-info {
  position: relative;
  width: 100%;
  height: 100%;
}

.square-graphic-display img {
  z-index: 1;
  position: absolute;
  right: 5px;
  top: 110px;
  width: 200px;
  transform: rotate(10deg);
}

.square-graphic-display {
  position: relative;
  padding-top: 1rem;
  top: 20px;
  margin-right: 1px;
  margin: 0 auto;
  width: 100%;
  height: 150px;
  border-radius: 40px;
  background-color: var(--light-blue);
}

.square-graphic-display h1 {
    display: block;
    text-align: center;
    font-size: 4rem;
    margin: 30px;
}

.square-graphic-display span {
  color: var(--color-orange);
}

.main-content {
  margin: 0 5rem;
  width: 100%;
}

.rectangle-graphic-display {
  position:sticky;
  padding: 2rem;
  color: var(--white-text);
  background-color: var(--light-blue);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100vh;
}

.user-display {
  position: relative;
  margin: 0 auto;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  border:1px solid #000;    
  height:80px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:100px;
}

.habits-outputs {
  position: relative;
  width: 100%;
}

#habits-list {
  position: relative;
  width: 100%;
  height: 100%;
}

#habits-ul {
  position: absolute;
  list-style: none;
  width: 100%;
  /* height: 100%; */
  overflow-y: scroll;
  border: none;
  scrollbar-gutter: none;
}

#habits-ul::-webkit-scrollbar {
  display: none;
}

#habits-ul li {
  margin-top: 2rem;
}

.dashboard-h2s {
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
}

.modal-btn {
  font-size: 1.4rem;
  margin: 1rem 0;
  padding: 1rem 0;
  line-height: 2rem;
  cursor: pointer;
}
/* ********** new habit form ********** */

.interactive-containers {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.progress-indicators {
  /* z-index: -1; */
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 100%;
  height:400px;
  background-color: #80CED7;
  border-radius: 60px;
  padding: 4rem;
  box-shadow: 0px 0px 20px -2px #41dfff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  
}

#add-new-habit {
  /* position: absolute; */
  margin-top: 2rem;
  margin-left: 0;
  width: 100%;
  height:400px;
  background-color: #80CED7;
  border-radius: 60px;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px -2px #41dfff;
}

#add-new-habit h2 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

#create-habit-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.habit-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem;
}

#habit-input {
  height: 3rem;
  border: none;
  width: 50%;
  background-color: #80CED7;
  font-size: 1.6rem;
}

#habit-input:focus,
#habit-input:active {
  /* outline-width: 0; */
  outline-style:groove;
  /* outline-color: 1px solid rgba(102, 166, 173, 0.5); */
} 

#new-habit-btn {
  margin-top: 2rem;
}

.habit-label {
  margin-top: 2rem;
  font-size: 1.6rem;
}

#frequency-input {
  text-align: end;
  margin-top: 2rem;
  height: 3rem;
  border: none;
  background-color: #80CED7;
  font-size: 1.6rem;
}

#frequency-input:hover {
  cursor: pointer;
}

#frequency-input:focus,
#frequency-input:active {
  outline-style:groove;
}

#new-habit-btn {
  height: 3rem;
  border-radius: 40px;
  border: none;
  height: 4rem;
  justify-content: center;
  background-color: var(--color-blue);
  color: var(--white-text);
}

#new-habit-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

/**************************\
  Modal
\**************************/

.modal-body {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.modal-body > h2 {
  margin-top: 2rem;
}

.modal-body h3 {
  font-size: 1.6rem;
  margin-right: 2rem;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(000, 000, 000, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  text-align: center;
  background-color: #80CED7;
  padding: 10px;
  width: 45%;
  height: 55%;
  border-radius: 50px;
}

.modal > button {
  padding: 10px 30px;
  margin: 2rem 0;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 40px;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;

}

/**************************\
  Modal Counters
\**************************/

.daily-counters,
.counter {
  display: flex;
}

.daily-counters h3 {
  width: 50%;
}

.daily-counters {
  margin: 5rem 0;
}

.counter button {
  width: 30px;
  height: 30px;
}

.counter h2 {
  margin: 0 1rem;
}

.counter {
  justify-content: space-between;
}

/*   ********** Media Queries **********   */


@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}

@media only screen and (max-width: 1157px) {
  .interactive-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #add-new-habit {
    width: 100%;
    transition: width 0.3s;
  }

  .square-graphic-display img {
    display: none;
  }

  .progress-indicators {
    margin-left: 0;
  }

  #habit-input {
    width: 100%;
    margin-top: 2rem;
  }

  .navbar .menu-items {
    margin-left: 46px;
  }
}

@media only screen and (max-width: 500px) {
  .habit-form {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .modal {
    width: 85%;
  }

  .square-graphic-display h1 {
    margin: 0;
    margin-top: 1.5rem;
  }

  #create-habit-form {
    justify-content: flex-start;
  }

  #frequency-input {
    text-align: center;
  }
}

#myChart {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 200px;
  width: 400px;
  height: 100vh;
}
