@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --white-text: #ffffff;
    --color-blue: #2E4172;
    --color-green: #2D882D;
    --color-orange: #AA6C39;
    --color-dark-green: #226666;
    --light-blue: #80CED7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

html {
  font-size: 62.5%;
  background: var(--white-text);
  color: #000;
}

/* ***** Utilities ******* */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
    border: 2px solid grey;
  }

.btn-primary {
  /* color: #fff; */
  /* background: #16a083; */
  background-color: var(--white-text);
  border: 2px solid grey;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

/* ............/navbar/............ */

hr {
    background-color: none;
    margin: 0;
    padding: 0;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar-container {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: flex-start;
}

.navbar-container.container {
    height: 4rem;
}

.menu-items {
  order: 2;
  display: flex;
  justify-content: space-between;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 10rem
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

.navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
}

.navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    padding-top: 100px;
    background: var(--light-blue);
    height: 98.6vh;
    max-width: 250px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
}

.navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
}

nav.navbar {
    height: 6rem;
    display: flex;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
    background-color: var(--white-text);    
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    background-color: var(--white-text);    
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
    background-color: var(--white-text);    
}

.navbar .menu-items li{
      font-size: 1.6rem;
}

.navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ************* dashboard display styling ************* */

.title {
    /* position: absolute; */
    margin-top: 10px;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 3rem;
    display: block;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    width: max-content;
}

.square-graphic-display img {
    position: absolute;
    height: 150px;
    top: 70px;
    right: 450px;
}

.square-graphic-display {
    padding-top: 1rem;
    top: 0;
    margin-top: 50px;
    width: 950px;
    height: 150px;
    border-radius: 40px;
    background-color: var(--light-blue);
}

.square-graphic-display h1 {
    display: block;
    font-size: 4rem;
    margin: 30px;
}

.rectangle-graphic-display {
    padding: 2rem;
    position: fixed;
    box-shadow: -3px 0px 15px 0px var(--color-blue);
    color: var(--white-text);
    background-color: var(--light-blue);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    height: 100vh;
    top: 0;
    right: 0;
}

.habits-outputs {
  position: absolute;
  bottom: 150px;
}

.dashboard-h2s {
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    border-bottom: 1px solid var(--white-text);
}

/* ********** new habit form ********** */

#add-new-habit {
  /* position: absolute; */
  margin: 2rem;
  margin-left: 0;
  width:400px;
  height:200px;
  background-color: #80CED7;
  border-radius: 60px;
  padding: 2rem;
}

.interactive-containers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.progress-indicators {
  margin: 2rem;
  margin-left: 130px;
  width:400px;
  height:200px;
  background-color: #80CED7;
  border-radius: 60px;
  padding: 2rem;
}

#create-habit-form {
  display: flex;
  flex-direction: column;
  align-items:stretch;
}

.habit-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#habit-input {
  height: 3rem;
  border: none;
  width: 50%;
  background-color: #80CED7;
}

#habit-input:focus,
#habit-input:active {
  /* outline-width: 0; */
  outline-style:groove;
  /* outline-color: 1px solid rgba(102, 166, 173, 0.5); */
} 

#new-habit-btn {
  margin-top: 2rem;
}

.habit-label {
  margin-top: 2rem;
}

#frequency-input {
  margin-top: 2rem;
  height: 3rem;
  border: none;
  background-color: #80CED7;
}

#frequency-input:hover {
  cursor: pointer;
}

#frequency-input:focus,
#frequency-input:active {
  outline-style:groove;
}

#new-habit-btn {
  height: 3rem;
  border-radius: 40px;
  border: none;
  height: 4rem;
  justify-content: center;
  background-color: var(--color-blue);
  color: var(--white-text);
}

#new-habit-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}



/*   ********** Media Queries **********   */


@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
