@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --color-red: #cb4101;
    --white-text: #ffffff;
    --color-blue: #2E4172;
    --color-green: #2D882D;
    --color-orange: #AA6C39;
    --color-dark-green: #226666;
    --light-blue: #80CED7;
}

* {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

body {
    height: 94.7vh;
}

/* *********** Header Styling ************ */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: var(--white-text);
    margin-left: 4rem;
    animation: enter 2s ease-in;
}

.signin-signup {
    margin-right: 4rem;
}

.signin-signup a {
    text-decoration: none;
    color: #000;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
    border: 2px solid grey;
    animation: opacity 1.4s ease-in;
  }

  .btn:hover {
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease-in-out;
  }

/* *********** main Styling ************ */

.col-left {
    top: 200px;
    z-index: 1;
    position: absolute;
    width: 50%;
    margin-left: 5rem;
    animation: opacity 1.4s ease-in;
}

@keyframes enter {
    from{
        transform: translateX(-120%);
    }
    to {
        transform: translateX(0);; 
    }
}

h2 {
    color: var(--white-text);
    font-size: 2rem;
}

.emphasis-text {
    color: var(--color-red);
    font-weight: 700;
}

#app {
    z-index: 1;
    display: inline-block;
    margin-top: 50px;
    color: var(--white-text);
}

/* Dash screenshot */

.col-right {
    width: 50%;
}

.col-right img {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 65%;
    border-radius: 50px;
    transform: rotate(10deg);
    animation: opacity 1.4s ease-in;
}

@keyframes opacity {
    from {opacity: 0;}
    to{opacity: 1;}
    
  }

@media only screen and (max-width: 721px) {
    header {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .title {
        margin-left: 0;
    }

    .signin-signup {
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}
