@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --white-text: #ffffff;
    --color-blue: #2E4172;
    --color-green: #226666;
    --color-orange: #AA6C39;
    --color-dark-green: #226666;
}

* {
    font-family: 'Roboto Mono', monospace;
}

html {
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

/* ********* Header styling *********** */

header {
    text-align: center;
    height: 4rem;
}

header h1 {
    font-size: 3rem;
    color: var(--white-text);
}

/* ********* Main styling *********** */

main {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 500px;
    text-align: center;
    height: 73vh;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form {
    width: 100%;
}

.login-elements {
    /* border: 1px solid rgba(224, 224, 224, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 13px 17px rgba(0,0,0,0.1);
    padding: 2rem;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#pass-show {
    width: 10%;
}

.show-pass {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.show-pass p {
    color: var(--white-text);
}

.login-form label {
    text-align: end;
    color: var(--white-text);
}

.login-form input {
    padding: 0.3rem;
    margin: 0.7rem 0;
    width: 200px;
    height: 2rem;
    border: none;
}

.input-fields {
    border-radius: 10px;
}

.login-form input:hover {
    background: rgb(232, 232, 232);
}

#submit-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

#submit-btn:hover {
    cursor: pointer;
    background: rgb(232, 232, 232);
}

/* ********** sign up styling and layout ********** */

.signup-elements {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 13px 17px rgba(0,0,0,0.1);
    padding: 2rem;
    width: 100%;
  }

  .signup-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.signup-form label {
    text-align: end;
    color: var(--white-text);
}

.signup-form input {
    padding: 0.3rem;
    margin: 0.7rem 0;
    width: 200px;
    height: 2rem;
    border: none;
}

#signup-submit-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

#signup-submit-btn:hover {
    cursor: pointer;
    background: rgb(232, 232, 232);
}

@media only screen and (max-width:553px) {
    .login-form {
        flex-direction: column;
    }
}

/* ****************** custom checkbox ****************** */

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #ffffff;
    border-radius: 20px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #11b023;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3.223rem;
    height: 3.286rem;
    margin-left: -0.616rem;
    margin-top: -0.56rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}

